h1,
h2,
h3,
h4 {
  font-weight: 600;
}

/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  height: 65vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg")
      center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* SECTION */
.section {
  padding: 60px 8%;
}

.section h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  position: relative;
}

.section h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background: #007bff;
  border-radius: 3px;
}

/* ABOUT SECTION */
.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  border-radius: 10px;
  align-items: center;
}

.about-container img {
  width: 100%;
  max-width: 450px;
  /* height: 250px; */
  border-radius: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.about-text {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.7;
}

/* VISION MISSION */
.vision-mission {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  padding: 25px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* TEAM SECTION */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.team-member {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.team-member:hover {
  transform: translateY(-6px);
}

.team-member img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.team-member h4 {
  font-size: 1.3rem;
  margin: 5px 0;
}

.team-member p {
  color: #666;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.3rem;
  }
  .about-container {
    flex-direction: column;
  }
  .section {
    padding: 40px 5%;
  }
}

.award-section {
  padding: 60px 10%;
  background: linear-gradient(to right, #111827, #1f2937);
  text-align: center;
}

.award-section h2 {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 40px;
}
