:root {
  --radius: 18px;
}

body {
  margin: 0;
}

/* FULL WIDTH CONTAINER */
.container {
  display: flex;
  justify-content: space-between;
}
/* GRID – MAX-3 PER ROW */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
}

.card {
  background: #9e7a7a;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.card-content p {
  font-size: 0.9rem;
  font-weight: bold;
  color: whitesmoke;
}

/* TABLET – 2 PER ROW */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE – 1 PER ROW */
@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
