{%include 'header.html'%} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/carasoul.css' %}" />
    <link
      rel="icon"
      type="png"
      sizes="20x20"
      href="{% static 'Image/Welway_realTech.png' %}"
    />
    <title>Belway RealEstate</title>
  </head>
  <body>
    <div>{%include 'carasoul.html' %}</div>
    <div>{%include "aboutus.html" %}</div>
    <div>{%include "feature.html" %}</div>
    <div>{%include "consultant.html" %}</div>
    <div>{%include "help.html"%}</div>
  </body>
</html>
{% include 'footer.html' with data=footer_links %}
